

body{
	width:80%;
	margin: 0 auto;
	font-family: sans-serif;
}

header {
    height: 120px;
    width: 100%;
    border: 10px solid transparent;
    background: #4b92b9;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

h1 {
    color: #464747;
    font-size: 32px;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
}

a {
    text-decoration: none;
}

h3{
	color: white;
	font-size: 100px;
}
.stars {
  margin-top: 50px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 1em
}

.star {
  margin: 3px;
  display: inline-block;
  padding: 0.25em;
  height: 1.5em;
  aspect-ratio: 1;
  background-image: url("../icons/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1
}

.star:hover~.star {
  opacity: .2
}

